# Ambiente virtual
venv/
.env/
.env.bak/

# Arquivos temporários e cache
_pycache_/
*.py[cod]
*$py.class

# Logs
*.log

# Configurações locais
.DS_Store
*.sqlite3

# Pastas do VS Code
.vscode/
.history/

# Arquivos de build e distribuição
build/
dist/
*.egg-info/

# Jupyter Notebooks checkpoints
.ipynb_checkpoints/

# Credenciais ou chaves
*.key
*.pem
*.crt