<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Axioma Landing Page</title>
    <link rel="stylesheet" href="{{ url_for('main.static', filename='css/menu.css') }}">
</head>
<body>
    <div class="container">
        <header class="navbar">
            <nav>
                <a href="https://startupaxioma.netlify.app/" class="register-button">Sobre</a>
                <a href="{{url_for('main.login')}}" class="register-button">Login</a>
            </nav>
        </header>

        <main class="hero-content">
            <img src="{{ url_for('main.static', filename='css/logo_axioma.webp') }}" class="logo">
            <p class="welcome-text">WELCOME</p>
            <h1 class="brand-name">AXIOMA</h1>
            <a href="{{url_for('main.register')}}" class="register-button">Register now</a>
        </main>
    </div>
</body>
</html>