<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cadastro</title>
    <link rel="stylesheet" href="{{ url_for('main.static', filename='css/register.css') }}">
    <script src="{{ url_for('main.static', filename='js/info.js') }}" defer></script> <!--Defer garante que o arquivo js só tente interagir com o HTML após a página estar totalmente carregada.-->
</head>
<body>
    <div class="form-section">
        <header>
            <a href="{{ url_for('main.login') }}" class="back-arrow"><i class="fas fa-arrow-left"></i></a>
        </header>
        <h2>Sign Up</h2>
        <p class="subtitle">Lorem ipsum dolor sit amet, consectetuer adipiscing elit</p>

        <form action="{{ url_for('main.register') }}" method="POST"> 
            <div class="input-group">
                <i class="fas fa-user"></i>
                <input type="text" placeholder="User Name" id="username" name="username"> 
            </div>

            <div class="input-group">
                <i class="fas fa-envelope"></i>
                <input type="email" placeholder="Email" id="email" name="email">
            </div>
             
            <div class="input-group">
                <i class="fas fa-lock"></i>
                <input type="password" placeholder="Password" id="password" name="password">
                <i class="fas fa-eye" id="togglePassword"></i>
            </div>

            <div class="input-group">
                <i class="fas fa-lock"></i>
                <input type="password" placeholder="Check password" name="check_password" id="checkpassword">
                <i class="fas fa-eye" id="toggleCheckPassword"></i>
            </div>

            <button type="submit" name="action" value="register" class="btn primary-btn">Enviar</button>

        </form>
    </div>
</body>
</html>